* {
    box-sizing: border-box;
    color: #000401;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff0e5;
}
main {
    width: 1000px;
    margin: 0 auto;
}
header {
    text-align: center;
}
section {
}
section table {
    background-color: white;
    width: 500px;
    margin: 0 auto;
}